* {font-family: Arial, Helvetica, sans-serif;}

.black-container {
    background-color: black;
    display: flex;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-left: 300px;
}

/* Start of button styling */

.dropdown {

    position: relative;
    display: inline-block;
}

.dropdown-button {

    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-button hover {background-color: white;} 

.dropdown-button focus {background-color: white;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    overflow: auto;
    box-shadow: none;
    z-index: 1;}

.dropdown-content a {

    color: black;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;}

.dropdown a hover {background-color: white;}

.show {display: block;}

/* ^ type in from here: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown */



/* End of button styling */




/* Blue "Welcome" banner */

 .blue-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: column;
    background-color: #1d70b8;
    color: white;
    
    }



.welcome {
border: solid, 5; 
display: flex;
padding-left: 310px;
font-family: Arial, Helvetica, sans-serif;

}

.subheading {

    border: black;
    padding-left: 310px;
}

.tagline {padding-left: 310px;}

.popular {

display: flex;
justify-content:
padding-top: 40px;
padding-left: 310px;
border-spacing: 20px;
background-color: #f3f2f1;

}

.popular-links {

    margin: auto;
    padding-top: 40px;
    padding-left: 310px;
    border-spacing: 20px;
    background-color: #f3f2f1;      

}

body {
    background-color: white;
    margin: 0;
    border: black;
    border-width: 1; }

.p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.crown-pic {
    display: flex;
    flex-direction: row-reverse;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}