
top-container {
margin: auto;
border: solid, 5, black;
display: flex;
justify-content: center;
text-align: center;
}

top-container-welcome {
border: solid, 5; 
display: flex;
justify-content: center;
text-align: center;
}

middle-container {
    display: flex;
    background-color: #1d70b8;

}

bottom-container {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    margin-top: 10;
    padding-top: 20;
    padding: 50, 0, 20;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: black;
    border-width: 1;

        /* Set up flex box here */

        /* Set up flex box here */
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: dotted #6096ba 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}